    html, body {
        height: 100%;
    }

.form-container {
    max-width: 350px;
    padding: 1rem;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}